@use '../../../scss/index' as *;

.expenses {
  &__title {
    margin: 10px 0 2rem 0;
  }

  &__date {
    font-size: 14px;
    font-weight: 500;
    color:#8B9AAD;

    margin-bottom: 5px;
  }

  &__amount {
    font-size: 24px;
    font-weight: bold;

    color: $black-color;
  }

  &__chart {
    width: 200px;
    height: 200px;

    &-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}